* {
    box-sizing: border-box;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}
/* adds small amount of padding to alow colour above and below the images in the container */
.avatar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card1 {
    text-align: start;
}

/* styles the text using colour: white */
p, li, .customNav a {
    color: white;
}

.navbar {
    background-color: #31343D !important;    
}

.jumboBackground {
    background-color: #d9823d !important;
}

.card-text {
    color: black;
}

/* sets navbar positioning */
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

body {
    background-color: #31343D;
}
/* aligns text and adds styling for each section head. */
.sectionHeading {
    text-align: start;
    text-decoration: underline;
}

/* adds box shadow when hovering the mouse over the button */
.button1:hover {
    box-shadow: 4px 4px 5px 0px rgba(253, 0, 190, 0.959);
    margin-bottom: 10px;
  }

  /* adds small padding to better space out each section of the webpage */
.sectionPadding {
    padding-top: 5px;
    padding-bottom: 5px !important;
}

/* changes the link text to aqua on hover */
a:hover {
    color: aqua !important;
}
